body{
    background-color: black;
    margin: 0%;
    padding: 0%;
    max-width: 4000px;
    max-height: 4000px;
}


.cellule{
    width: auto;
    border: none;
    float: left;
    margin: 0;
    background-color: rgb(35, 5, 70);
    width: 50%;
    overflow: auto;
  }
  .grow{
    margin-top: 6px;
  }
h1{
    color: white;
    text-align: left;
}
h4, .liste1{
    color: white;
    text-align: left;
}
.liste{
    float: left;
    color: white;
    text-align: center;
    list-style: none;
    display: flex;
    padding: 5px;
}
.purpule{
    color: purple;
    display: inline;
}
.img{
  max-width: 100%;
}
.liste{
    float: left;
    display: flex;
    padding: 50px;
}
.marge{
    margin: auto 8%;
    margin-top: 7%;
}
.row {
  display: flex;
  overflow-x: auto;
  margin: auto 8%;
  margin-top: 7%;
  border: 0;
  }

@media screen and (max-width: 736px) and (orientation: portrait){ 
.marge{
  text-align: center;
}
.row {
  margin: 6px;
    position: relative;
    flex-direction: column-reverse;
    text-align: center;
    float: none;
    vertical-align: middle;
    display: table-cell;
    overflow: auto;
}
.cellule{
  flex: 1;
  overflow-y: auto;
}
.img, .row{
  max-width: 100%;
  padding: auto;
    margin: auto;
    display: flex;
    align-items: center;
}
.liste{
  color: white;
  list-style: none;
  float: none;
  padding: 5px;
  overflow-y: auto;
  display:grid;
  justify-content: center;
}
.get,h4, h1{
  text-align: center;
}
}

@media screen and (max-width: 1024px){ 
  .marge{
    text-align: center;
  }
  .row {
    overflow: auto;
      margin: auto 1%;
      position: relative;
      flex-direction: column-reverse;
      text-align: center;
      float: none;
      vertical-align: middle;
   
  }
  .cellule{
    overflow-y: auto;
  }
  .img, .row{
    max-width: 100%;
    padding: auto;
      margin: auto;
      display: flex;
      align-items: center;
  }
  .liste{
    color: white;
    justify-content: center;
    list-style: none;
    float: none;
    padding: 5px;
    display: grid;
  }
  .get,h4, h1{
    text-align: center;
  }
  }
  @media screen and (max-width: 1325px){
    .marge{
      text-align: center;
    } 
    .row {
      overflow: auto;
        margin: auto 1%;
       
        flex-direction: column-reverse;
        text-align: center;
        float: none;
        vertical-align: middle;
     
    }
    .cellule{
      overflow-y: auto;
    }
    .img, .row{
      max-width: 100%;
      padding: auto;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .liste{
      color: white;
      list-style: none;
      float: none;
      padding: 5px;
      display: grid;
      justify-content: center;
    }
    .get,h4, h1{
      text-align: center;
    }
    }